<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="theme-color" content="#04293d">
        <title>{{ title }}</title>
        <link rel="icon" type="image/png" href="/favicon.png">
        <style>{% cssmin %}{% include "./base.css" %}{% endcssmin %}</style>
    </head>
    <body>
        <div class="links">
            {%- for link in links %}
            <a rel="{{ link.rel }}" href="{{ link.href }}">
                <img src="img/{{ link.img }}" alt="{{ link.name }}" />
            </a>
            {%- endfor %}
        </div>
        <div class="content">
            <div class="moon"></div>
        </div>
        <script>{% jsmin %}{% include "./base.js" %}{% endjsmin %}</script>
    </body>
</html>
